html {
	box-sizing: border-box;
	color: rgba(250, 250, 250, 0.9);
	font-family: 'Quicksand', sans-serif;
	background: rgba(0, 0, 0, 0.9);
}

body {
	margin: 0;
}

.container {
	display: grid;
	gap: 15px;
	grid-template: 
	"header" 100px
	"main"   800px
	"section"800px
	"section2" 600px
	"footer" 100px /
	 100%;	
}
/*-----------------------------------------------------------*/
.header {
	grid-area: header;
	background: rgba(0, 0, 0, 1);
	position:fixed;
	width: 100%;
	z-index: 1;
	border-style: solid;
	border-color: rgba(73, 182, 117, 0.9);
	border-top: 0;
	border-left: 0;
	border-right: 0;

}

.nav {
	display: flex;	
	justify-content: space-between;
	max-width: 992px;
	margin: 0 auto;
}


.header-title {
	line-height: 100px;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px black;
	color: #49b675;
}

.buttons-pos {
	display: flex;
	list-style: none;
}

.bitem {
	margin: 15px;
	line-height: 40px;

}

.bbox {
	text-decoration: none;
	color: white;
	font-size: 30px;
	border-color: rgba(250, 250, 250, 0.7);
	border-style: double;
	padding: 10px;
}

.bbox-a {
	text-decoration: none;
	color: #49b675;
	font-size: 30px;
	border-color: #49b675;
	border-style: double;
	padding: 10px;
}

.bbox:hover {
	background: rgba(73, 182, 117, 0.7);
}

.bbox-a:hover {
	background: rgba(250, 250, 250, 0.25);
}
/*--------------------------------------------------------------------*/

.main {
	display: grid;
	grid-area: main; 
	background: rgba(0, 0, 0, 0.7);
	grid-template: 
	"photo presentation" 100% /
	   40%  60%;
	margin: 5px;
	border-color: rgba(73, 182, 117, 0.7);
	border-style: double;
	box-shadow: 0px 15px 100px rgba(73, 182, 117, 0.7);

}


.photo {
	display: grid;
	grid-area: photo;
	grid-template: 
	"p-title"20%
	 "p-img "60%
	 "p-txt" 20%/
	 100%;
}



.p-img {
	display: grid;
	grid-area: p-img;
	border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: auto;
    border-style: solid;
	border-color: rgba(73, 182, 117, 1);    
}

.photo1 {
	width: 400px;
    height: 400px;
 	border-radius: 50%;
}

.ph2{
	width: 400px;
    height: 500px;
    margin: auto;
}

.p-boton{
	display: grid;
	grid-area: p-botones;
	width: 100%;
	height: 50;
	justify-content: center;
	margin-top: -80px;
}

.p-bbox {
	text-decoration: none;
	color: white;
	font-size: 30px;
	padding: 10px;
	width: 200px;
	border-style: double;
	text-align: center;
	border-color: rgba(73, 182, 117, 1);
}

.p-bbox:hover {
	background: rgba(73, 182, 117, 0.25);
}
.presentation {
	display: grid;
	grid-area: presentation;
	grid-template: 
	"p-social"10%
	 "p-txt1"80%
	 "p-botones"10%/
	 100%;
	margin-right: 10px;
}

.p-name {
	margin: 40px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.p-info{
	padding-right: 20px;
	margin: auto;
	font-size: 36px;
	text-align: center;
	font-weight: lighter;
}

/*--------------------------------------------------------------------*/

.section {
	display: grid;
	grid-area: section;
	background: rgba(0, 0, 0, 0.9);
	margin: 5px;
	border-color: rgba(73, 182, 117, 0.7);
	border-style: double;
	gap: 1px;
	grid-template:
	"contenedor1 contenedor2 contenedor3" 50%
	"contenedor4 contenedor5 contenedor6" 50% /
       33%;
 	border-width: 1px;
}

.contenedor1{
	display: grid;
	grid-area:contenedor1;
}

.contenedor2{
	display: grid;
	grid-area:contenedor2;
}
.contenedor3{
	display: grid;
	grid-area:contenedor3;

}
.contenedor4{
	display: grid;
	grid-area:contenedor4;
}
.contenedor5{
	display: grid;
	grid-area:contenedor5;

}
.contenedor6{
	display: grid;
	grid-area:contenedor6;
}

.contenedor1,
.contenedor2,
.contenedor3,
.contenedor4,
.contenedor5,
.contenedor6{
	padding: 10px;
	grid-template: 
	"c-title" 15% 
	"c-img" 70% 
	"c-btn"  15% /
	  100%;
}

.c-title{
	display: grid;
	grid-area:c-title;
	font-size: 30px;
	text-align: center;
	margin: auto;
	border-bottom: solid;
	border-color: rgba(73, 182, 117, 0.5);
}

.c-btn {
	display: grid;
	grid-area: c-btn;
	justify-content: center;


}

.c-btn-s {
	text-decoration: none;
	color: white;
	font-size: 30px;
	padding: 5px;
	width: 100px;
	border-style: solid;
	border-color: rgba(73, 182, 117, 0.5);
	text-align: center;
 	border-width: 1px;
	border-radius: 10%;
	margin-top: 5px;
}

.c-img {
	display: grid;
	grid-area:c-img;
	padding: 25px;
	border-radius: 2%;
	border-style: solid;
	border-top-color: rgba(73, 182, 117, 0.5);
	border-left-color: rgba(73, 182, 117, 0.5);
	border-bottom-color: rgba(64, 64, 255, 1.0);
	border-right-color: rgba(64, 64, 255, 1.0);
	overflow: hidden;
}

.c-ul {
	margin: auto;

}

.c-li {

	word-break: break-word;
	font-size: 22px;

}

.c-btn-s:hover{
	font-weight: bold;
	border-top-color: rgba(73, 182, 117, 0.5);
	border-left-color: rgba(73, 182, 117, 0.5);
	border-bottom-color: rgba(64, 64, 255, 1.0);
	border-right-color: rgba(64, 64, 255, 1.0);
	background-image: linear-gradient(to right,rgba(64, 64, 255, 0.25),rgba(73, 182, 117, 0.25));
}



.section2 {
	display: grid;
	grid-area: section2;
	background: rgba(0, 0, 0, 0.7);
	margin: 5px;
	box-shadow: 0px 0px 35px rgba(64, 64, 255, 1.0);
	border-color: rgba(64, 64, 255, 1.0);
	border-style: double;
	grid-template:  
	"photo2 s2-info" 100%/
	   40%    60%;
}

.photo2 {
	display: grid;
	grid-area: photo2;
}

.s2-info {
	display: grid;
	grid-area: s2-info;

	margin: 50 25 25 25;
	grid-template: 
	"s2-title" 20% 
	"s2-description" 40%
	"s2-contact" 40%/
	   100%;
}

.s2-title {
	text-transform: uppercase;
	font-size: 35px;
	text-align: center;
	margin-top: 45px;
	font-weight: 600;
	color: rgb(250, 250, 250);
	border-bottom: 1px solid rgba(64, 64, 255, 1.0);
}

.s2-description {
	font-size: 25px;
	margin-top: 25px;
	text-align: center;
}


.s2-contact {
	display: grid;
	grid-template: 
	"c1 c2" 
	"c3 c4" 50%/
	 50%;
	gap: 1px;
	margin-left: 18%;
	margin-top: -20px;
}

.c1{
	display: grid;
	grid-area: c1;
}
.c2{
	display: grid;
	grid-area: c2;
}
.c3{
	display: grid;
	grid-area: c3;
}
.c4{
	display: grid;
	grid-area: c4;
}

.s2-org-c {
	display: flex;
}

.button {
	margin: 14 auto auto 20;
	font-size: 15px;
	width: 100;
	height: 25;
	color: inherit;
	background: none;
	border: 1px solid;
	border-top-color: rgba(73, 182, 117, 0.5);
	border-left-color: rgba(73, 182, 117, 0.5);
	border-bottom-color: rgba(64, 64, 255, 1.0);
	border-right-color: rgba(64, 64, 255, 1.0);
	cursor: pointer;

}

.btn-img {
	height: 20px;
	width: 20px;
}

.p1 {
	color: rgba(64, 64, 255, 1.0);
	border-bottom: 1px solid rgba(73, 182, 117, 0.5);
	margin-bottom: 70;
}

.p2 {
	margin-top: -55px;
	padding-left: 20px;
	color: black;
	font-size: 16px;	
}


.n-icon,
.e-icon,
.p-icon,
.i-icon{
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 0% 10%;
	filter: invert(1);

}

.n-icon {
	background-image: url(../images/n_icon.png);
}
.e-icon {
	background-image: url(../images/e_icon.png);
}
.p-icon {
	background-image: url(../images/p_icon.png);
}
.i-icon {
	background-image: url(../images/i_icon.png);
}


.footer {
	grid-area: footer;
	background: rgba(0, 0, 0, 1.0);
	border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,rgba(64, 64, 255, 1.0),rgba(73, 182, 117, 0.5));
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.f-copy {
	margin: auto;
	font-size: 15px;
}



@media (max-width: 768px){

.p-img {
	margin-left: 20px;
    width: 300px;
    height: 300px;
 
 }

 .photo1 {
	width: 300px;
    height: 300px;
}

.p-name {

	font-size: 40px;
	font-weight: bold;
	text-align: center;
 }

.p-info{
	margin: 10 10 10 10;
	font-size: 25px;
	padding-left: 30px;
 }

.c-img {
	margin: 0;
	padding: 15 15 5px 5px;
 }

.c-li {
	font-size: 18px;
 }

.c-btn-s {
	margin-top: 5;
 }

.s2-description {
	font-size: 20px;
 }

.s2-contact {
	margin: -10 auto auto auto;

 }

.ph2{
	width: 300px;
    height: 400px;
 }


}
/*--------------------------------------------*/
@media (width:1024px) {
.p-info{
	margin: 10 10 10 10;
	font-size: 30px;
	padding-left: 30px;
 }

.c-btn-s {
	margin-top: 10;
 }

 .s2-description {
	font-size: 23px;
 }

}
/*--------------------------------------------*/
@media (max-width: 415px){

	.container {
	 grid-template:
	 "header" 100px
	 "main"   600px
	 "section"800px
	 "section2" 600px
	 "footer" 100px /
	 100%;	 

	}
	.header-title{
		font-size: 20px;
		margin-left: 20;
	}
	.bitem {
		margin: 5;

	}

	.bbox,.bbox-a{
		font-size: 15px;
		line-height: 60px;
		padding: 5;

	}

	.bbox-a {
		margin-right: 5px;
	}

	.bbox{
		margin-left: -5px;
	}

	.main {
	   grid-template: 
		"photo" 45%
		"presentation" 55% /
		  100%;
		}

	.presentation {
	grid-template: 
	"p-social"5%
	 "p-txt1"90%
	 "p-botones"5%/
	 100%;
	}


	.photo {
		grid-template: 
		"p-img" 100%/
		100%;
	}


	.p-name {
	margin: 1px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	}

	.p-img {
    width: 200px;
    height: 200px;
    margin: auto;
    }

     .photo1 {
	width: 200px;
    height: 200px;
	}

	.p-info {
		font-size: 16px;
		padding-left: 5px;
		padding: 0;
	}

	.p-bbox {
	font-size: 20px;
	width: 80px;
	margin: auto;
    }

    .section {
	grid-template:
	"contenedor1 contenedor2" 33%
	"contenedor3 contenedor4" 33%
	"contenedor5 contenedor6" 33% /
        50%;
	}

	.c-title{
	font-size: 20px;
	}

	.c-btn-s {
	font-size: 20px;
	}

	.c-img {
	padding: 0 5 0 5px;

	}

	.c-ul {
/*		margin: 10 10 10 -15px;*/
		margin: auto 10 auto 0;
	}

	.c-li {
	font-size: 13px;
	}

	.section .contenedor3 .c-title{
		font-size: 19px;
	}

	.s2-title {
	text-transform: uppercase;
	font-size: 25px;
	margin: 0;
 	}

 	.s2-description {
	font-size: 16px;
	margin-top: -1px;
	}

	.s2-contact {
/*	padding: 0 0 0 0;*/
	overflow: auto;
	}

	.section2 {
	grid-template:  
	"photo2"  30%
	"s2-info" 70%/
	   100%;
	}

	.s2-info {
	grid-template: 
	"s2-title" 10% 
	"s2-description" 40%
	"s2-contact" 50%/
	   100%;
	 }

	.button {
	width: 50;
 	}

	.btn-img {
	height: 20px;
	width: 20px;
 	}

	.p2 {
	margin-top: -55px;
	padding-left: 20px;
	color: black;
	font-size: 14px;
	word-break: break-word;	
 	}

 	.ph2{
 		width: 200px;
 		height: 200px;
 	}
 	.f-copy {
 	text-align: center;
  }
}
